<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pyTails state</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>
<body>
<!-- As a heading -->
<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">pyTails</span>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">State Store <i class="fas fa-external-link-alt"></i></a>
        </li>
    </ul>
    <span class="navbar-text">
        Last updated (UTC): {{ updat }}
    </span>
</nav>

<div class="container mt-2">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Cluster</th>
            <th scope="col">Last Document Date (UTC)</th>
            <th scope="col">Updated At (UTC)</th>
            <th scope="col">Connection</th>
            <th scope="col">Replica Set</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ item.cluster }}</td>
                <td>{{ item.ldt_h }}</td>
                <td>{{ item.updated_at }}</td>
                <td>{{ item.conn }}</td>
                <td>{{ item.replicaset }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>